.entry-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-sec{
    height: 400px;
    padding:20px 50px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0px 0px 15px -5px black;
}